/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: hsla(0 0% 0% / 60%);
}

main {
  max-width: 1240px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

/* Slider */
.yp-slider {
  width: 100%;
  overflow: hidden;
}

.yp-slider__track {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  display: flex;
  min-height: 6rem;
}

.yp-slider__slide {
  position: absolute;
  padding: 1rem;
  background-color: #fafafa;
}
